/* =========================
   СЕКЦИЯ FAQ (столбик)
========================= */
.faq-section {
  padding: 100px 20px;

  /* фон как в секции услуг */
  background: rgba(14, 71, 3, 0.25)
    url("/services-bg.jpg") center/cover no-repeat;

  color: #fff;
}

/* заголовок */
.faq-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* контейнер */
.faq {
  width: 100%;
  max-width: 700px; /* сужаем под столбик */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px; /* расстояние между карточками */
}

/* карточка */
.faq-item {
  background: rgba(26, 43, 34, 0.85);
  border-radius: 12px;
  overflow: hidden;

  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.faq-item:hover {
  transform: translateY(-5px);
  border-color: #2e7d32;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* вопрос */
.faq-question {
  width: 100%;
  padding: 15px;

  background: #134016;
  color: #fff;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  font-size: 16px;
}

.faq-question:hover {
  opacity: 0.9;
}

/* иконка */
.faq-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.faq-icon.open {
  transform: rotate(45deg);
}

/* ответ */
.faq-answer {
  max-height: 0;
  overflow: hidden;

  background: rgba(26, 43, 34, 0.85);
  color: #fff;

  transition: all 0.3s ease;
  padding: 0 15px;
}

.faq-answer.open {
  max-height: 200px;
  padding: 12px 15px;
}

.faq-answer p {
  margin: 0;
  color: rgba(255, 255, 255, 0.85);
}

/* адаптив */
@media (max-width: 768px) {
  .faq {
    max-width: 100%;
  }
}
