/* =========================================================
   MODAL OVERLAY
========================================================= */

.modal-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;

  background: rgba(0,0,0,0.6);

  backdrop-filter: blur(14px);

  z-index: 99999;
}

/* =========================================================
   MODAL
========================================================= */

.modal {
  position: relative;

  width: 100%;
  max-width: 720px;

  overflow: hidden;

  display: flex;

  border-radius: 24px;

  background: rgba(1,89,87,0.4);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.12);

  box-shadow: 0 40px 120px rgba(0,0,0,0.7);
}